@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #9C29B2;
    --main-color: #fff;
    --secondary-color: #FFD600;

}

::selection {
    background-color: #BB93FC;
    color: var(--secondary-color);
}

.main-header {
    background-color: var(--primary-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Righteous";
}

p {
    font-family: "Poppins";
    text-align: justify;
}

.btn {
    border: none;
    background: #A429BC;
}

.home-section {
    background-color: var(--secondary-color);
    height: 78vh;

}

.main-heading {
    -webkit-text-stroke: #fff 2px;
    font-weight: 400;
    font-size: 3.5rem;
    color: var(--primary-color);
}

.main-para {
    color: #8C31FF;
    font-family: 'Poppins';
}

.custom-shape-divider-bottom-1700321793 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1700321793 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 126px;
}

.custom-shape-divider-bottom-1700321793 .shape-fill {
    fill: #FFFFFF;
}

.abt-section-h1 {
    color: var(--primary-color);
}

.bus-services {
    width: 300px;
    height: 260px;
    border-radius: 20px;
    border: 2px solid #8102FF;
    background: rgba(184, 135, 193, 0.20);
}

.sports-services {
    width: 300px;
    height: 260px;
    border-radius: 20px;
    border: 2px solid #8102FF;
    background: rgba(184, 135, 193, 0.20);
}

.learning-services {
    width: 300px;
    height: 260px;
    border-radius: 20px;
    border: 2px solid #8102FF;
    background: rgba(184, 135, 193, 0.20);
}

.music-services {
    width: 300px;
    height: 260px;
    border-radius: 20px;
    border: 2px solid #8102FF;
    background: rgba(184, 135, 193, 0.20);
}

.card-color {
    background-color: #BB93FC;
    border-radius: 12px;
    
}

.second-page {
    background-color: #A429BC;
    height: 100vh;
    position: relative;
}

.btn-2 {
    background-color: #fff;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: #BB93FC;
    -webkit-text-stroke: black 0.5px;

}
.bottom-image{
    transform: rotate(180deg);
    position: absolute;
    bottom: -40px;
}
.testimonial{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #FFF 0%, #E8CDED 100%);
}
.test-card{
    width: 530px;
    height: 233px;
    border-radius: 40px;
    background: #FFF;
    border-radius: 40px;

}
.card-link{
    color: #710A85;

    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
    font-family: "Poppins";
    text-align: justify;
    
}
/* .test-img{
    width: 225px;
height:225px;
} */
